@charset "UTF-8";

h1{
	
	color: #ffff33;
	font-size: 42px;
	font-family: "Comic Sans MS";
	background-color: #33cccc;
	border: 100px;
	border-color: black;
	text-align: center;
	
}

#glavniDiv{
	
	background-color: #d98cb3;
	width: 100%;
	height: 25px;
	
	
}

#glavniDiv>p{
	
	color: red;
	font-size: 18px;
	font-family: "Comic Sans MS";
	text-align: center;
	
}


